:root{
    --pri:#1B3C53;
    --sec:#E3E3E3;
    --tri:#456882;
    --tri1:#94b7cf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
   
}

.main{
    height: 100%;
    width: 100%;
    
    
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;    

}

.elem{
    background-color: var(--tri1);
    height: 380px;
    width: 270px;
    border-radius: 10px;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;


}

.elem:active{
    transform: scale(0.9);
}


.fullElem{
    height: 100%;
    width: 100%;
    padding: 40px;
    display: none;
    background-color: var(--pri);
    position: absolute;
}

.back{
    font-size: 20px;
    position: absolute;
    right: 5%;
    border-radius: 50%;
    border: none;
    font-weight: 700;
    padding: 10PX;
    cursor: pointer;
}